# Python
*.pyc
__pycache__/
*.pyd
*.log

# Flask env
instance/
.env

# Virtualenv
venv/
ENV/
env/
.venv/

# VS Code
.vscode/
*.code-workspace

# OS/system files
.DS_Store
Thumbs.db
*.db
*.swp

# Logs synced from ESP32
baby-logs/
logs/
*.txt

# React frontend
frontend/node_modules/
frontend/.DS_Store
build/
.env
